// CHAT SEND FORM
.right-chat-form {
    padding: 20px 30px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-self: flex-end;
    @media (max-width: 767px) {
        padding: 20px;
    }
    // SEND FORM TEXTAREA
    &__textarea {
        display: flex;
        outline: none;
        height: 50px;
        border-radius: 25px;
        resize: none;
        font-size: 14px;
        line-height: 20px;
        padding: 15px 50px 15px 20px;
        border: none;
        background-color: #ededfa;
        flex-grow: 1;
        align-self: flex-end;
        overflow: hidden;
    }
    // SEND FORM SMILES BUTTON
    &__smiles {
        position: absolute;
        width: 60px;
        height: 50px;
        background: none;
        border: none;
        outline: none;
        padding: 0;
        color: #dcdce8;
        font-size: 20px;
        bottom: 20px;
        right: 90px;
        cursor: pointer;
        transition: color 0.2s ease;
        &:hover {
            color: #9f9fa9;
        }
        @media (max-width: 767px) {
            right: 60px;
        }
    }
    // SEND FORM DOCUMENT INPUT
    &__document {
        cursor: pointer;
        height: 50px;
        width: 40px;
        font-size: 22px;
        position: relative;
        color: #ededfd;
        margin-left: 20px;
        transition: color 0.2s ease;
        align-self: flex-end;
        flex-shrink: 0;
        &::before {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            color: #9f9fa9;
        }
        input[type="file"] {
            display: none;
        }
        @media (max-width: 767px) {
            margin-left: 0px;
        }
    }
}