<!--BEGIN RIGHT CHAT FORM-->
<form action="/" class="right-chat-form">
    <textarea name="user-message" id="user-message" class="right-chat-form__textarea" placeholder="Type something" #textArea
        (keypress)="onKeyPress(textArea)"></textarea>
    <button type="button" class="right-chat-form__smiles  chat-icon-smile"></button>
    <label for="user-document" class="right-chat-form__document  chat-icon-doc">
                    <input type="file" id="user-document">
                </label>
</form>
<!--END RIGHT CHAT FORM-->