<!--BEGIN LOGIN FORM-->
<form 
    novalidate 
    class="osp-chat-form  osp-chat-form--login" 
    #form="ngForm"
    (ngSubmit)="onSumbit(form.value)">
    <input 
        type="email" 
        name="email" 
        class="osp-chat-form__input" 
        placeholder="Email"
        required
        minlength="6"
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        ngModel>
    <span class="osp-chat-form__hint"  
        *ngIf="!form.controls.email?.valid && form.controls.email?.touched">Please enter valid email</span>
    <input 
        type="password" 
        name="password" 
        class="osp-chat-form__input"
        placeholder="Password"
        required
        minlength="8"
        pattern="[a-zA-Z0-9]*"
        ngModel>
    <span class="osp-chat-form__hint"  
        *ngIf="!form.controls.password?.valid && form.controls.password?.touched">Your password must be at least 8 latin characters and digits</span>

    <a href="#" class="osp-chat-form__link  osp-chat-form__link--forgot-pass">Forgot password?</a>

    <input 
        type="submit" 
        class="osp-chat-form__submit  osp-chat-form__submit--login" 
        value="Login"
        [disabled]="form.invalid">
</form>
<!--END LOGIN FORM-->
<app-alt-login></app-alt-login>