<form 
    novalidate 
    class="osp-chat-form  osp-chat-form--login" 
    #form="ngForm"
    (ngSubmit)="onSumbit(form.value)">
    <input 
        type="text" 
        name="username" 
        class="osp-chat-form__input" 
        placeholder="Username"
        required
        minlength="6"
        pattern="[a-zA-Z0-9]*"
        ngModel>
    <span class="osp-chat-form__hint"  
        *ngIf="!form.controls['username']?.valid && form.controls['username']?.touched">Please enter username</span>
    <input 
        type="password" 
        name="password" 
        class="osp-chat-form__input"
        placeholder="Password"
        required
        minlength="6"
        pattern="[a-zA-Z0-9]*"
        ngModel>
    <span class="osp-chat-form__hint"  
        *ngIf="!form.controls['password']?.valid && form.controls['password']?.touched">Your password must contain at least 6 latin letters or digits</span>
    
    <span class="osp-chat-form__hint" *ngIf="loginErrorHint">{{loginErrorHint}}</span>

    <input 
        type="submit" 
        class="osp-chat-form__submit  osp-chat-form__submit--login" 
        value="Login"
        [disabled]="form.invalid">
</form>

<app-alt-login></app-alt-login>
