<!--BEGIN LOGIN FORM-->
<form 
    novalidate 
    class="osp-chat-form  osp-chat-form--login" 
    #form="ngForm"
    (ngSubmit)="onSumbit(form.value)">
    <input 
        type="email" 
        name="email" 
        class="osp-chat-form__input" 
        placeholder="Email"
        ngModel>
    <input 
        type="password" 
        name="password" 
        class="osp-chat-form__input  osp-chat-form__input--mb10"
        placeholder="Password"
        ngModel>
    <a href="#" class="osp-chat-form__link  osp-chat-form__link--forgot-pass">Forgot password?</a>
    <input 
        type="submit" 
        class="osp-chat-form__submit  osp-chat-form__submit--login" 
        value="Login"
        [disabled]="form.invalid">
</form>
<!--END LOGIN FORM-->