// RIGHT CHAT MESSAGES WRAPPER
.right-chat-messages {
    padding: 0px 20px;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
// CHAT MESSAGE
.right-chat-message {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    position: relative;
    padding: 10px 0px;
    align-items: flex-end;
    cursor: pointer;
    border-radius: 10px;
    &.selected {
        background: rgba(#ededfa, 0.5);
    }
    &:first-child {
        margin-top: auto;
    }
    // USER PHOTO
    &__user-photo {
        display: flex;
        min-width: 50px;
        height: 50px;
        align-self: flex-start;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
    }
    // MESSAGE DATE
    &__date {
      font-size: 14px;
      line-height: 24px;
      color: #d2d2f7;
      display: flex;
      width: 100%;
    }
    .right-chat-message__username {
      display: flex;
      order: -1;
      width: 100%;
      color: #474749;
      font-size: 14px;
      line-height: 24px;
    }
    // MESSAGE TO USER
    &.to-user {
        align-self: flex-start;
        .right-chat-notice {
          margin-right: auto;
          &__content {
              background-color: #989ad7;
              color: #ffffff;
          }
        }
        .right-chat-message {
          &__username {
            justify-content: flex-start;
          }
          &__user-photo {
            margin-right: 15px;
            margin-left: 0;
          }
          &__date {
              justify-content: flex-start;
          }
        }
    }
    // MESSAGE FROM USER
    &.from-user {
        align-self: flex-end;
        .right-chat-notice {
          margin-left: auto;
          &__content {
            background-color: #d7d7e2;
            color: #474749;
            margin-left: auto;
          }
        }
        .right-chat-message {
          &__username {
            justify-content: flex-end;
          }
          &__user-photo {
              margin-left: 15px;
              margin-right: 0;
              order: 1;
          }
          &__date {
              justify-content: flex-end;
          }
        }
    }
}
// CHAT MESSAGE NOTICE
.right-chat-notice {
    font-size: 14px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    @media (max-width: 991px) {
        max-width: 280px;
    }
    @media (max-width: 767px) {
        width: calc(100% - 65px);
        overflow: hidden;
    }
    &__content {
        padding: 10px 20px;
        border-radius: 10px;
        margin: 0;
        display: flex;
        flex-grow: 0;
        word-wrap: break-word;
    }
}