:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
// RIGHT CHAT MESSAGES WRAPPER
.right-chat-messages {
    padding: 20px 20px 0px;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
// CHAT MESSAGE
.right-chat-message {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    position: relative;
    padding: 15px 15px 30px;
    margin-bottom: 10px;
    align-items: flex-end;
    cursor: pointer;
    border-radius: 10px;
    &.selected {
        background: rgba(#ededfa, 0.5);
    }
    &:first-child {
        margin-top: auto;
    }
    // USER PHOTO
    &__user-photo {
        display: flex;
        min-width: 50px;
        height: 50px;
        align-self: flex-end;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        overflow: hidden;
    }
    // MESSAGE DATE
     &__date {
        font-size: 14px;
        line-height: 20px;
        color: #d2d2f7;
        position: absolute;
        bottom: 5px;
    }
    // MESSAGE TO USER
    &.to-user {
        align-self: flex-start;
        .right-chat-notice {
            background-color: #989ad7;
            color: #ffffff;
        }
        .right-chat-message__user-photo {
            margin-right: 15px;
        }
        .right-chat-message__date {
            left: 80px;
        }
    }
    // MESSAGE FROM USER
    &.from-user {
        align-self: flex-end;
        .right-chat-notice {
            background-color: #d7d7e2;
            color: #474749;
            margin-left: auto;
        }
        .right-chat-message__user-photo {
            margin-left: 15px;
            order: 1;
        }
        .right-chat-message__date {
            right: 80px;
        }
    }
}
// CHAT MESSAGE NOTICE
.right-chat-notice {
    padding: 10px 20px;
    margin: 0;
    background: red;
    font-size: 14px;
    line-height: 22px;
    border-radius: 10px;
    max-width: 400px;
    &__content {
        margin: 0;
        width: 100%;
    }
}