<!--BEGIN SIGN-IN FORM-->
<form 
    novalidate 
    class="osp-chat-form  osp-chat-form--sign-in" 
    [formGroup]="user"
    (ngSubmit)="onSubmit(user)">
    <input 
        type="text" 
        class="osp-chat-form__input" 
        placeholder="Username"
        formControlName="username">
    <span class="osp-chat-form__hint" 
          *ngIf="!user.get('username').valid && user.get('username').touched">Your name must be at least 6 latin characters and digits</span>
    <input 
        type="email" 
        class="osp-chat-form__input" 
        placeholder="Email"
        formControlName="email">
    <span class="osp-chat-form__hint"  
          *ngIf="!user.get('email').valid && user.get('email').touched">Please enter valid email</span>
    
    <label class="osp-chat-form__input  osp-chat-form__input--label-file" (change)="onFileUpload($event, fileInput)">
        {{labelFileInputValut}}
        <input type="file" class="osp-chat-form__input  osp-chat-form__input--file" #fileInput>
    </label>

    <span class="osp-chat-form__hint" [class.hidden]="!isPhotoLoading">{{photoLoadingHint}}</span>

    <div class="osp-chat-form-group" formGroupName="passwords">
        <input 
            type="password" 
            class="osp-chat-form__input" 
            placeholder="Enter password"
            formControlName="password">
        <span class="osp-chat-form__hint"  
              *ngIf="!user.get('passwords').get('password').valid && user.get('passwords').get('password').touched">Your password must be at least 8 latin characters and digits</span>
        <input 
            type="password" 
            class="osp-chat-form__input" 
            placeholder="Password"
            formControlName="passwordConfirmed">
        <span class="osp-chat-form__hint"  
              *ngIf="!user.get('passwords').valid  && user.get('passwords').get('passwordConfirmed').touched">The passwords are not identical</span>
    </div>
    
    <input type="submit" 
           class="osp-chat-form__submit  osp-chat-form__submit--sign-in"
           value="Sign-in"
           [disabled]="user.invalid">
</form>
<!--END SIGN-IN FORM-->
<app-alt-login></app-alt-login>