<!--BEGIN SIGN-IN FORM-->
<form action="/" class="osp-chat-form  osp-chat-form--sign-in">
    <input type="text" name="sign-in-user-name" id="sign-in-user-name" class="osp-chat-form__input" placeholder="Username">
    <input type="email" name="sign-in-user-email" id="sign-in-user-email" class="osp-chat-form__input" placeholder="Email">
    <input type="password" name="sign-in-user-password-1" id="sign-in-user-password-1" class="osp-chat-form__input" placeholder="Password">
    <input type="password" name="sign-in-user-password-2" id="sign-in-user-password-2" class="osp-chat-form__input" placeholder="Password">
    <input type="submit" class="osp-chat-form__submit  osp-chat-form__submit--sign-in" value="Sign-in">
</form>
<!--END SIGN-IN FORM-->