<!--BEGIN SIGN-IN FORM-->
<form 
    novalidate 
    class="osp-chat-form  osp-chat-form--sign-in" 
    [formGroup]="user"
    (ngSubmit)="onSubmit(user)">
    <input 
        type="text" 
        class="osp-chat-form__input" 
        placeholder="Username"
        formControlName="name">
    <span *ngIf="!user.get('name').valid">Please enter name</span>
    <input 
        type="email" 
        class="osp-chat-form__input" 
        placeholder="Email"
        formControlName="email">
    <span *ngIf="!user.get('email').valid">Please enter email</span>
    <div class="osp-chat-form-group" formGroupName="passwords">
        <input 
            type="password" 
            class="osp-chat-form__input" 
            placeholder="Enter password"
            formControlName="password">
        <span *ngIf="!user.get('passwords').get('password').valid">Please enter password</span>
        <input 
            type="password" 
            class="osp-chat-form__input" 
            placeholder="Password"
            formControlName="passwordConfirmed">
        <span *ngIf="!user.get('passwords').get('passwordConfirmed').valid">Please enter password</span>
    </div>
    
    <input type="submit" 
           class="osp-chat-form__submit  osp-chat-form__submit--sign-in"
           value="Sign-in"
           [disabled]="user.invalid">
</form>
<!--END SIGN-IN FORM-->