@font-face {
    font-family: 'chat-icons';
    src: url('chat-icons.eot?ql1l6r');
    src: url('chat-icons.eot?ql1l6r#iefix') format('embedded-opentype'), url('chat-icons.ttf?ql1l6r') format('truetype'), url('chat-icons.woff?ql1l6r') format('woff'), url('chat-icons.svg?ql1l6r#chat-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="chat-icon-"],
[class*=" chat-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'chat-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chat-icon-back:before {
    content: "\e900";
}

.chat-icon-close:before {
    content: "\e901";
}

.chat-icon-doc:before {
    content: "\e902";
}

.chat-icon-menu:before {
    content: "\e903";
}

.chat-icon-next:before {
    content: "\e904";
}

.chat-icon-search:before {
    content: "\e905";
}

.chat-icon-smile:before {
    content: "\e906";
}