<div class="users-wrap">
  <ul class="chat-users" [class.hidden]="!isPanelOpen" [class.visible]="isPanelOpen">
    <button class="chat-users__open  osp-chat-nav-btn" (click)="togglePanel()" [class.active]="isPanelOpen"></button>
    <li class="chat-user" *ngFor="let user of users" [routerLink]="user._id" routerLinkActive="active">
      <div class="chat-user__photo" [style.background-image]="user.photo"></div>
      <span class="chat-user__info">{{user.username}}</span>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>