<div class="chat-nav">
  <nav class="chat-links">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/chat" routerLinkActive="active">Chat</a>
    <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active">Register</a>
  </nav>

  <a class="user-profile-link">
    <div class="user-profile-link__photo" style="background-image: url(assets/img/avatar__1.jpg)"></div>
  </a>
  <button class="log-out  chat-icon-sign-out"></button>
</div>