<div class="chat-nav">
  <nav class="chat-links">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/chat" routerLinkActive="active">Chat</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <ng-container *ngIf="!authService.isLoggedIn">
      <a routerLink="/auth/login" routerLinkActive="active">Login</a>
      <a routerLink="/auth/register" routerLinkActive="active">Register</a>
    </ng-container>

  </nav>

  <div class="user-profile" *ngIf="authService.isLoggedIn">
    <a class="user-profile-link" (click)="navigateToUserProfile($event)">
      <span class="user-profile-link__name">{{user?.username}}</span>
      <div class="user-profile-link__photo" [style.background-image]="user?.photo"></div>
    </a>
    <button class="log-out  chat-icon-sign-out" (click)="onLogOut()"></button>
  </div>
</div>