// TITLE
.auth-title {
    font-size: 20px;
    text-align: center;
    margin: 15px 0px;
}
// LOGIN FORM WRAPPER
.osp-chat-form-wrap {
    display: flex;
    max-width: 400px;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    &--hidden {
        display: none;
    }
    @media (max-width: 767px) {
        max-width: 290px;
    }
}
// FORM NAVIGATION
.osp-chat-form-nav {
    display: flex;
    &__btn {
        display: flex;
        width: 50%;
        font-family: "Ubuntu";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        outline: none;
        background-color: #3b3e99;
        justify-content: center;
        color: #ffffff;
        line-height: 30px;
        padding: 10px;
        height: 50px;
        cursor: pointer;
        text-decoration: none;
    }
    &__btn.active {
        background-color: #56588e;
    }
}

// LOGIN CHAT FORM
.osp-chat-form {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    &--hidden {
        display: none;
    }
    // FORM INPUT
    &__input {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        padding: 14px 20px;
        margin-bottom: 30px;
        background-color: #ededfa;
        border: none;
        border-radius: 25px;
        outline: none;
        font-family: "Ubuntu";
        border: 1px solid #ededfa;
        transition: all 0.2s ease;
        &:focus {
            border: 1px solid #3b3e99;
        }
        &--mb10 {
            margin-bottom: 10px;
        }
    }
    // SUBMIT BUTTON
    &__submit {
        display: flex;
        width: 100%;
        font-family: "Ubuntu";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        outline: none;
        background-color: #3b3e99;
        border: 1px solid #3b3e99;
        justify-content: center;
        color: #ffffff;
        line-height: 20px;
        padding: 14px 15px;
        cursor: pointer;
        border-radius: 25px;
        transition: background-color 0.2s ease, color 0.2s ease;
        &:hover {
            background-color: transparent;
            color: #3b3e99;
        }
    }
    // FORM LINK
    &__link {
        font-size: 14px;
        line-height: 20px;
        color: #3b3e99;
        text-decoration: none;
        display: flex;
        margin-bottom: 10px;
        padding-left: 20px;
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 0.5;
        }
    }
}