:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.new-chat-title {
    text-align: center;
    margin: 15px 0px;
}
.new-chat-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    flex-shrink: 0;
    &__input {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        padding: 14px 20px;
        margin-bottom: 20px;
        background-color: #ededfa;
        border: none;
        border-radius: 25px;
        outline: none;
        font-family: "Ubuntu";
        border: 1px solid #ededfa;
        transition: all 0.2s ease;
        &::-webkit-input-placeholder { /* Chrome */
            color: #000000;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #000000;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #000000;
            opacity: 1;
        }
        &:-moz-placeholder { /* Firefox 4 - 18 */
            color: #000000;
            opacity: 1;
        }
        &--label-file {
            cursor: pointer;
            &:hover,
            &:active,
            &:focus {
                border: 1px solid #3b3e99;
            }
        }
        &--file {
            display: none;
        }
        &:focus {
            border: 1px solid #3b3e99;
        }
        &.ng-invalid.ng-touched {
            border: 1px solid #ff0000;
        }
        &.filter {
            margin-bottom: 0;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: 1px solid #d7d8f1;
            &:focus {
                border: 1px solid #ededfa;
                border-bottom: 1px solid #d7d8f1;
            }
        }
    }
    &__btn {
        display: flex;
        width: 100%;
        font-family: "Ubuntu";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        outline: none;
        background-color: #3b3e99;
        border: 1px solid #3b3e99;
        justify-content: center;
        color: #ffffff;
        line-height: 20px;
        padding: 9px 15px;
        cursor: pointer;
        border-radius: 25px;
        transition: background-color 0.2s ease, color 0.2s ease;
        max-width: 280px;
        margin: auto;
        &[disabled],
        &.disabled {
            background: #7b7da4;
            border: 1px solid #7b7da4;
            pointer-events: none;
            &:hover {
                background-color: #7b7da4;
                color: #ffffff;
            }
        }
        &:hover {
            background-color: transparent;
            color: #3b3e99;
        }
    }
    &__hint {
        font-size: 14px;
        line-height: 20px;
        padding: 0px 20px;
        position: relative;
        top: -10px;
        &.hidden {
          display: none;
        }
    }
}
.new-chat-users {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    max-height: 203px;
    min-height: 50px;
    background-color: #ededfa;
}
.new-chat-user {
    display: flex;
    flex-shrink: 0;
    padding: 10px 40px 10px 20px;
    align-items: center;
    background-color: #ededfa;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #d7d7e2;
    transition: background-color 0.2s ease;
    &:hover {
        background-color:#dfdff2;
    }
    &:last-of-type {
        margin-bottom: -1px;
    }
    &__photo {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
        flex-shrink: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.selected {
        background-color: #dfdff2;
        border-bottom: 1px solid #ededfa;
        &::after {
            content: "\e909";
            font-family: "chat-icons";
            position: absolute;
            display: block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }
    &__badge {
        &.checked {
            opacity: 1;
            &:hover {
                &::before {
                    content: '\e90a';
                }
            }
        }
    }
}
.new-chat-form-search {
    display: flex;
    flex-direction: column;
    position: relative;
    &__btn {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 50px;
        height: 50px;
        opacity: 0.5;
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 1;
        }
    }
    &__hint {
        display: none;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 20px;
        background-color: #ededfa;
        border-bottom: 1px solid #d7d8f1;
        &.visible {
            display: flex;
        }
    }
}