<!--BEGIN CHAT WRAPPER-->
<div class="osp-chat">
    <!--BEGIN LEFT CHAT WRAPPER-->
    <div class="left-chat-wrap  hidden"
         [ngClass]="{'hidden': !isChatPanelOpen, 'visible': isChatPanelOpen}">

        <ct-chat-nav (isLeftChatOpen)="onChatPanelOpen($event)"></ct-chat-nav>

        <ct-chat-list [chats]="chats"></ct-chat-list>
    </div>
    <!--END LEFT CHAT WRAPPER-->


    <!--BEGIN RIGHT CHAT WRAPPER-->
    <div class="right-chat-wrap">
        <router-outlet></router-outlet>
    </div>
    <!--END RIGHT CHAT WRAPPER-->

</div>
<!--END CHAT WRAPPER-->