.chan-info-wrap {
    display: flex;
    padding: 20px;
    flex-shrink: 0;
    border-bottom: 1px solid #d7d7e2;
    position: relative;
    margin-top: -65px;
    transition: margin-top 0.3s ease;
    margin-bottom: 25px;
    &.visible {
        margin-top: 0px;
    }
    @media (max-width: 991px) {
        margin-top: -120px;
        flex-wrap: wrap;
    }
    @media (max-width: 767px) {
        margin-top: -160px;
    }
    &__show-btn {
        position: absolute;
        display: block;
        font-family: "Ubuntu";
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        border: 1px solid #d7d7e2;
        background-color: #ffffff;
        padding: 0px 20px;
        height: 32px;
        border-radius: 15px;
        white-space: nowrap;
        &::after {
            font-family: "chat-icons";
            content: "\e90f";
            font-size: 12px;
            line-height: 30px;
            margin-left: 5px;
        }
        &.clicked {
            &::after {
                content: "\e910";
            }
        }
    }
}
.chat-info-attendees {
    display: flex;
    margin-right: 15px;
    transition: width 0.3s ease;
    &__user {
        display: flex;
        position: relative;
        width: 50px;
        height: 50px;
        background: #d7d7e2;
        border-radius: 50%;
        border: 5px solid #ffffff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        flex-shrink: 0;
        transition: left 0.3s ease;
    }
    @for $i from 0 through 10 {
        .user__#{$i} { 
            left: #{-30*$i}px;
        }
    }
    &.selected {
        @for $i from 0 through 10 {
        .user__#{$i} { 
                left: 0px;
            }
        }
    }
}
.chat-info {
    &__chat-name {
        display: flex;
        font-size: 20px;
        line-height: 25px;
        align-self: center;
        @media (max-width: 767px) {
            margin: 10px 0px 5px;
            width: 100%;
        }
    }
    &__leave {
        display: flex;
        margin-left: 15px;
        width: 40px;
        justify-content: center;
        font-size: 20px;
        transition: opacity 0.2s ease;
        flex-shrink: 0;
        &:hover {
            opacity: 0.5;
        }
        @media(max-width: 991px) {
            margin-left: 0;
        }
    }
}
.chat-info-search {
    display: flex;
    width: 40px;
    margin-left: auto;
    overflow: hidden;
    transition: width 0.3s ease;
    flex-shrink: 0;
    &.visible {
        width: 240px;
    }
    @media (max-width: 991px) {
        width: calc(100% - 40px);
        margin-left: 0;
        &.visible {
            width: calc(100% - 40px);
            margin-left: 0;
        }
    }
    &__btn {
        display: flex;
        width: 40px;
        justify-content: center;
        font-size: 20px;
        transition: opacity 0.2s ease;
        flex-shrink: 0;
        flex-grow: 0;
        &:hover {
            opacity: 0.5;
        }
    }
    &__input {
        display: flex;
        align-self: center;
        outline: none;
        font-family: "Ubuntu";
        height: 40px;
        flex-grow: 1;
        border-radius: 25px;
        resize: none;
        font-size: 14px;
        line-height: 20px;
        border: 1px solid transparent;
        padding: 9px 20px;
        background-color: #ededfa;
        width: 200px;
        transition: border-color 0.2s ease;
        flex-shrink: 0;
        &:focus {
            border: 1px solid #3b3e99;
        }
        @media(max-width: 991px) {
            margin: 10px;
        }
        @media(max-width: 767px) {
            margin: 10px 0px;
            width: calc(100% - 80px);
        }
    }
}