* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    background-color: #d7d8f1;
    display: flex;
    overflow-x: hidden;
    min-height: 100vh;
}
h1 {
    font-size: 30px;
    @media (max-width: 767px) {
        font-size: 22px;
    }
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
::selection {
    background-color: rgba(59, 62, 153, 0.1)
}
ct-chats {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    max-height: calc(100vh - 70px);
    @media(max-width: 767px) {
        max-height: calc(100vh - 100px);
    }
    @media(min-width: 768px) and (max-height: 700px) {
      max-height: calc(700px - 70px);
      min-height: calc(700px - 70px);
    }
}
ct-chat-list {
  display: flex;
}
ct-message-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
    overflow: auto;
}
ct-auth {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 60px 0px;
    @media (max-width: 1199px) {
        padding: 40px 0px;
    }
}
app-root {
  display: flex;
  width: 100%;
}
app-root > h1{
    margin: auto;
}
.osp-chat-nav-btn {
    background: none;
    border: none;
    outline: none;
    width: 35px;
    height: 32px;
    color: #ffffff;
    font-size: 21px;
    cursor: pointer;
    position: relative;
}
.osp-chat-nav-btn::before {
    font-family: 'chat-icons';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chat-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}
// SPINNER
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
ct-spinner,
.ct-spinner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-grow: 100000;
    &.dark {
        .spinner {
            border: 5px solid #d7d8f1;
        }
    }
    &.light {
        .spinner {
            border: 5px solid #ededfa;
        }
    }
    .text {
       font-size: 24px;
       font-weight: bold;
        margin: 0px 10px;
    }
    .spinner {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-radius: 50%;
        position: relative;
        margin: 0px 10px;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border: 5px solid transparent;
            border-top: 5px solid #3b3e99;
            border-radius: 50px;
            animation-name: spinner;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}
.intro-wrap {
    position: relative;
    width: 300px;
    height: 600px;
    margin: 50px 0px;
    @media (max-width: 767px) {
        height: 420px;
        margin: 20px 0px;
    }
    &.hidden {
        display: none;
    }
    &__photo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-image: url('assets/img/intro-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 86%;
        border: 2px solid #000;
        @media (max-width: 767px) {
            width: 60%;
        }
    }
}