/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    background-color: #d7d8f1;
    display: flex;
    overflow-x: hidden;
    min-height: 100vh;
}
h1 {
    font-size: 30px;
    @media (max-width: 767px) {
        font-size: 24px;
    }
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
::selection {
    background-color: rgba(59, 62, 153, 0.1)
}
// STYLES FOR CORE COMPONENTS
ct-chats {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    max-height: calc(100vh - 70px);
    @media(max-width: 767px) {
        max-height: calc(100vh - 100px);
    }
}
ct-message-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
ct-auth {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
// BUTTON STYLES
.osp-chat-nav-btn {
    background: none;
    border: none;
    outline: none;
    width: 35px;
    height: 32px;
    color: #ffffff;
    font-size: 21px;
    cursor: pointer;
    position: relative;
}
.osp-chat-nav-btn::before {
    font-family: 'chat-icons';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chat-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}