<div class="alt-login">
    <div class="alt-login__divider">
        <span class="alt-login__text">OR</span>
    </div>
    <span class="alt-login__title">Login with:</span>
    <ul class="alt-login-links">
        <button 
          id="fb-auth-btn" 
          class="alt-login-links__btn  facebook  chat-icon-facebook-1"
          (click)="onFBLogin()"></button>
        <button 
          id="google-auth-btn" 
          class="alt-login-links__btn  google  chat-icon-google-1"
          (click)="onSignIn($event)"></button>
    </ul>
</div>