<div class="alt-login">
    <div class="alt-login__divider">
        <span class="alt-login__text">OR</span>
    </div>
    <span class="alt-login__title">Login with:</span>
    <ul class="alt-login-links">
        <button class="alt-login-links__btn  facebook  chat-icon-facebook-1" (click)="onSignIn('facebook')"></button>
        <button class="alt-login-links__btn  google  chat-icon-google-1" (click)="onSignIn('google')"></button>
        <!--<button class="alt-login-links__btn  linkedin  chat-icon-linkedin-1" (click)="onSignIn('linkedin')"></button>-->
    </ul>
</div>