:host {
    padding: 20px;
}
.alt-login {
    display: flex;
    flex-direction: column;
    &__divider {
        display: flex;
        justify-content: center;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            width: 100%;
            background-color: #ededfa;
        }
    }
    &__text {
        display: flex;
        font-size: 16px;
        padding: 0px 20px;
        background-color: #ffffff;
        position: relative;
        z-index: 2;
        font-weight: bold;
    }
    &__title {
        display: flex;
        font-size: 16px;
        justify-content: center;
        padding: 10px 0px;
    }
}
.alt-login-links {
    display: flex;
    justify-content: center;
    &__btn {
        font-size: 30px;
        padding: 7px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        &.google {
            color: #dd4b39;
        }
        &.facebook {
            color: #3b5998;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}